body {
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    line-height: 2rem;
    padding: 20px;
    background-color: #fafafa ;
}

#translateCounterText {
    color: #00897b;
    opacity: 60%;
    padding:0px;
    margin: 0px;
    text-align: right;
}

#translatedModal {
    color: #00897b;
    opacity: 60%;
    padding:0px;
    margin: 0px;
    text-align: left;
}


#title{
    padding-bottom: 20px;
}

#quoteArea {
    padding: 10px;
    height: 100;

}

#randomQuote {
    border: none;
    padding: 20px;
    color: #00897b;
    font-family: 'Big Shoulders Text', cursive;
    text-align: center;
    font-size: 35px;
    height: 4em;
    min-height: 80%;
    line-height: 35px;
}

#getRandomQuote {
    background: none;
    color: #00897b;
    font-family: 'Girassol', cursive;
    border: none;

}

#convertedTextArea {
    height: 500px;
    padding: 10px;
    border: 1px;
    border-style: groove;
    border-width: 3px;
    /* margin-left: 10px; */
}


#translated {
    padding: 20px;
    color: #00897b;
    font-family: 'Big Shoulders Text', cursive;
    text-align: center;
    font-size: 35px;
    line-height: 35px;

}

#pirateTranslation, #cockneyTranslation, #chefTranslation, 
#oldEnglishTranslation, #southernTranslation {
    text-align: center;
    margin: 0 auto;
    justify-content: flex-start;
    letter-spacing: 1px;
    padding: 12px 10px;  
}

.dropdown-content > li  {
    color: #00897b !important; 
}

@media only screen and (min-width: 601px) {
.row .col.m6 {
    height: 500px !important;
    font-size: 20px !important;
}

}

@media only screen and (max-width: 601px) {

#convertedTextArea {
    margin-left: 0px;
    margin-top: 10px;
} 
 
#randomQuote {
    font-size: 20px;

}
}

/* fonts for the translations */

.pirateFont {
    font-family: 'Pirata One', cursive;
}

.cockneyFont {
    font-family: 'Lacquer', cursive;
}

.cowboyFont {
    font-family: 'Sancreek', cursive;
}

.oldEngFont {
    font-family: 'UnifrakturMaguntia', cursive;
}

.chefFont {
    font-family: 'Pinyon Script', cursive;
}

#modal1 {
    background-color: green;
}