body {
    text-align: center;
    font-family: 'NTR', sans-serif;
    line-height: 2rem;
    padding: 20px;
    background-color: #fafafa ;
    background-color: #263238;
}

#translateCounterText {
    padding:0px;
    margin: 0px;
    cursor: pointer;
}

#translatedModal {
    padding:0px;
    margin: 0px;
}

.purpText {
    color:#5c6bc0 !important; 
}

#modalText {
    font-size: 25px;
}

#title{
    padding-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;
}

#quoteArea {
    padding: 10px;
    height: 100;

}

#getRandomQuote {
    background: none;
    color: white;
    border: none;

}

#convertedTextArea {
    height: 500px;
    padding: 10px;
    /* margin-left: 10px; */
}

#randomQuote {
    border: none;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 10px;
    height: 4em;
    min-height: 80%;
    line-height: 35px;
}

#translated {
    color: #263238;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}


#translationsMobileRow {
    color: white;
    font-size: 25px;
}

#attribute-site {
    color: white;
}


#pirateTranslation, #cockneyTranslation, #chefTranslation, 
#oldEnglishTranslation, #fuddTranslation {
    text-align: center;
    margin: 0 auto;
    justify-content: flex-start;
    letter-spacing: 1px;
    padding: 12px 10px;  
}

.dropdown-content > li  {
    color: #263238 !important; 
}

#badRequestPopup {
    display: none;
}

li {
    list-style-type: none;
    padding: 10px;
}




@media only screen and (min-width: 601px) {
.row .col.m6 {
    height: 500px !important;
    font-size: 20px !important;
}

#translationsMobileRow {
    display: none;
}

}

@media only screen and (max-width: 601px) {

    #convertedTextArea {
        margin-left: 0px;
        margin-top: 10px;
    } 
    
    #randomQuote {
        font-size: 20px;
    }

    #translatedModal {
        display: none;
    }

}

/* fonts for the translations */

.pirateFont {
    font-family: 'Pirata One', cursive !important; 
}

.cockneyFont {
    font-family: 'Lacquer', cursive !important;
}

.cowboyFont {
    font-family: 'Sancreek', cursive !important;
}

.oldEngFont {
    font-family: 'UnifrakturMaguntia', cursive !important;
}

.chefFont {
    font-family: 'Pinyon Script', cursive !important;
}

